<div class="form-wrapper mt-4 sticky-top">
  <div class="form">
    <h2 class="form-heading text-center">Book your accomodation today</h2>
    <%= simple_form_for([offer, booking], html: { data: { controller: "price", turbo: false }}) do |f| %>
      <% if booking.errors[:base].any? %>
        <div class="alert alert-danger">
          <% booking.errors[:base].each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      <% end %>
      <div class="form-inputs row justify-content-center">
        <%= f.input :start_date, as: :string, placeholder: "Start date",label: false, input_html: { data: { controller: "flatpickr", action: "input->price#update" } } %>
        <%= f.input :end_date, as: :string, placeholder: "End date",label: false, input_html: { data: { controller: "flatpickr", action: "input->price#update" } } %>
        <%= f.input :number_of_guests, label: false, placeholder: "Number of guests" %>
        <p>Total price: <span data-price-target="total">€0</span></p>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Continue to Payment", class: "shining-button me-2 mt-1" %>
      </div>
    <% end %>
  </div>
</div>

<%# This line is only for JS price per night file %>
<span id="price-per-night" data-price-per-night="<%= offer.price_per_night %>" hidden></span>
