
<div class="banner-edit" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1571459/pexels-photo-1571459.jpeg)">
  <div class="page-header text-center mt-3">
    <h1 class="h4 mb-2"> BOOKING INFORMATION </h1>
    <p>You can edit your booking details below:</p>
  </div>

  <div class="container col-md-3">
    <%= simple_form_for [@offer, @booking] do |f| %>
      <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :number_of_guests %>

      <div class="form-actions ">
        <%= f.button :submit, "Update Booking", class: "btn btn-primary" %>
        <%= link_to "Cancel edit", booking_path, class: "btn btn-danger text-white" %>
      </div>
    <% end %>
  </div>
</div>
