<h1 class="text-center mt-4">My Bookings</h1>

<div class="container">
  <% if @bookings.any? %>
    <div class="row">
      <% @bookings.each do |booking| %>
        <% if booking.offer.user == current_user %>
          <div class="col-md-6 mb-4">
            <div class="card p-3">
              <h5><%= booking.offer.title %></h5>
              <p>From: <%= booking.start_date %></p>
              <p>To: <%= booking.end_date %></p>
              <p>Guests: <%= booking.number_of_guests %></p>
              <p>Guest name: <%= "#{booking.user.first_name} #{booking.user.last_name}" %></p>
              <p>Guest email: <%= booking.user.email %></p>
              <% if booking.pending? %>
                <p>Do you want to accept or refuse the booking?</p>
                <div class="d-flex justify-content-center gap-3">
                  <%= button_to "Accept booking", accept_booking_path(booking), method: :patch, class: "btn btn-success", data: { confirm: "Accept this booking" } %>
                  <%= button_to "Refuse booking", refuse_booking_path(booking), method: :patch, class: "btn btn-danger", data: { confirm: "Refuse this booking" } %>
                </div>
              <% end %>
            </div>
          </div>
        <% elsif booking.user == current_user %>
          <div class="col-md-6 mb-4">
            <div class="card p-3">
              <h5><%= booking.offer.title %></h5>
              <p>From: <%= booking.start_date %></p>
              <p>To: <%= booking.end_date %></p>
              <p>Guests: <%= booking.number_of_guests %></p>
              <p>Address: <%= booking.offer.address %></p>
              <p>Booking status: <%= booking.status %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center mt-5">You haven't booked anything yet...</p>
  <% end %>
</div>

<div class="container">
<%= link_to "Back to home page", root_path, class: "btn btn-danger text-white"  %>
</div>
