<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_tag offers_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control me-2",
              placeholder: "Search for a flat"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <h1 class="text-center">Welcome</h1>

    <div class="row mt-5">
      <% @offers.each do |offer| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= offer.title %></h5>
              <p class="card-text"><%= offer.address %></p>
              <p><strong><%= number_to_currency(offer.price_per_night, unit: "€") %></strong> / night</p>
              <%= link_to "View", offer_path(offer), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
</div>
