
<div class="container mt-3">
  <%= simple_form_for @offer do |f| %>
      <%= f.input :title %>
      <%= f.input :description, as: :text, input_html: { rows: 4 } %>
      <%= f.input :address %>
      <%= f.input :price_per_night%>
      <%= f.input :number_of_bathrooms %>
      <%= f.input :number_of_beds %>
      <%= f.input :guests_limit %>
      <%= f.input :property_type, collection: Offer::PROPERTY_TYPES, prompt: "Select a property type" %>

      <div class="actions d-flex gap-5 mb-2">
        <%= f.submit  class: 'btn btn-primary' %>
        <%= link_to "Cancel Request", offer_path, class: 'btn btn-danger' %>
      </div>
  <% end %>
</div>
