<%= simple_form_for(offer) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :number_of_bathrooms%>
  <%= f.input :number_of_beds %>
  <%= f.input :guests_limit %>
  <%= f.input :price_per_night %>
  <%= f.input :property_type %>

  <div class="actions d-flex justify-content-between mt-3">
    <%= f.submit  class: 'btn btn-primary' %>
    <%= link_to "Cancel", offers_path, class: 'btn btn-primary' %>
  </div>
<% end %>
