<div class="container mt-3">
  <h4><%= @offer.title %></h4>
  <p><%= @offer.description %></p>

<%# <div class="d-grid gap-3 justify-content-evenly">
  <%= cl_image_tag @offer.photos.first.key , alt: "House", width: 800, height: 400 %>


   <div class="d-grid gap-3" id="carouselOffer<%= @offer.id %>" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @offer.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= cl_image_tag photo.key, width: 300, height: 300, class: "d-block w-100" %>
        </div>
          <% end %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselOffer" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselOffer" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div>

<div class="d-grid gap-3 container">
    <h2>Reviews :</h2>
    <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <div class="card">
          <div class="card-header"> Review </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= review.comment %></p>
        </blockquote>
        <div class="star-rating mb-3">
              <% 5.times do |i| %>
                <% if i < @offer.average_rating.to_i %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
            </div>
      </div>
    </div>
        <% end %>
    <% else %>
    <div class="card">
      <div class="card-header"> Review </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>No reviews yet for this offer</p>
        </blockquote>
      </div>
    </div>
    <% end %>
</div>


  <div class="form-actions p mb-2 d-flex gap-2 row">
    <% if current_user == @offer.user %>
      <%= link_to "Edit Offer", edit_offer_path(@offer), class: "btn btn-primary" %>
      <%= button_to "Delete offer", offer_path(@offer),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Book this flat", new_offer_booking_path(@offer), class: "btn btn-primary" %>
  <%= link_to "Back to the home page", root_path, class: "btn btn-secondary mt-2" %>
    <% end %>
  </div>
</div>


</div>
