<div class="container">
  <%= simple_form_for [@offer, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :comment, as: :text, input_html: { rows: 5 } %>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-outline-success me-2 mt-1" %>
      <%= link_to "Cancel review", bookings_path, class: "btn btn-outline-danger mt-1" %>
    </div>
  <% end %>
</div>
